= csrf_meta_tag

:javascript
  jQuery(document).ready(function() {
  });

  function onClearLog() {
    window.location = "/tool_consumer/clear_log";
    return false;
  }

  function onShowLog() {
    window.open('/wirelog.html', '_blank')
    return false;
  }

%h1 LTI Tool Consumer

%form{:method => "post", :action => "/tool_consumer"}
  %input{:type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token}
  %table
    -@payload_hash.each_pair do |k,v|
      %tr
        %td
          %label #{k}
        %td
          %label &nbsp;&nbsp;&nbsp;
        %td
          %label #{v}
    %tr
      %td
      %td
        %select{ name: 'tool'}
          %option{value: 'launch_resource'} launch resource
          %option{value: 'echo'} echo
          %option{value: 'debug'} debug
          %option{value: 'force_timeout'} force timeout
          %option{value: 'munge_secret'} munge secret
          %option{value: 'munge_payload'} munge payload

    %tr
      %td
        %label
      %td
        %input{:type => "submit", :value => "Launch Tool Provider", :class => "button"}
      %td
        %input{:type => "submit", :value => "Launch Eventstore",
          :onclick => "window.location='/tool_consumer/lti_launch_eventstore'; return false;"}

    %tr
      %td
        %label
      %td
        %input{:type => "submit", :value => "Show log", :class => "button", :onclick => "return onShowLog();"}
      %td
        %input{:type => "submit", :value => "Reset all", :class => "button", :onclick => "return onClearLog();"}

    %tr{height: "50"}
      %td
        %label



  %table
    %tr
      %td
      %td{align: "center"}
        %h3 Result table

    %tr
      %th context_id
      %th user_id
      %th result

    -@results.each do |r|
      %tr
        %td{width: "10%", align: "center"}
          %label #{r.context_id}
        %td{width: "10%", align: "center"}
          %label #{r.user_id}
        %td{width: "10%", align: "center"}
          %label #{r.result}