= csrf_meta_tag

:javascript
  jQuery(document).ready(function() {
    jQuery('#launch_another').hide();
  });

  function onClearSession() {
    window.location = "/tool_provider/clear_session";
    return false;
  }

  function onRefresh() {
    window.location = "/tool_provider/lti_launch/launch_resource";
    return false;
  }

  function toggle_launch_another() {
    jQuery('#launch_another').toggle();
    return false;
  }

%h1 Result Harvester

%form{:method => "post", :action => "/tool_provider/resource_harvester"}
  %input{:type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token}
  %table
    %thead{:style => "font-weight: bold"}
      %tr
        %td
          Metasession count: #{@tp_accessor.count_entries}

    %tbody
      %tr
        %td{:width => '30%'}
          %label Metasession ID
        %td{:width => '30%'}
          %label Metasession label
        %td{:width => '30%'}
          %label Captured data

    -@entries.each do |entry|
      %tr
        %td
          %label #{entry['uid']}
        %td
          %label #{entry['label']}
        %td
          %label #{entry['results']}

    %tr{:style => 'line-height: 20px;'}
      %td &nbsp;

    %tr
      %td
        %input{:type => "submit", :value => "Launch Another", :class => "button", :onclick => "return toggle_launch_another();"}
      %td
        %input{:type => "submit", :value => "Refresh Window", :class => "button", :onclick => "return onRefresh();"}
      %td
        %input{:type => "submit", :value => "Clear session", :class => "button", :onclick => "return onClearSession();"}

    %tbody{:id => 'launch_another'}
      %tr{:style => 'line-height: 20px;'}
        %td &nbsp;

      %tr
        %td
          %label New Metasession ID
        %td
          %label #{@metasession_id}
      %tr
        %td
          %label Enter metasession label
        %td
          %input{:type=>"text", :name=>"metasession_label", :required => true}

      %tr
        %td &nbsp;

      %tr
        %td
        %td
          %input{:type => "submit", :value => "Generate launcher", :class => "button"}
